.idea/
.vscode/
*.iml
*.iws
*.ipr
/shelf/
/workspace.xml

**/target/
**/build/
.mvn/wrapper/
mvnw
mvnw.cmd
expense-tracker/backend/src/main/resources/application.properties

**/node_modules/
**/dist/
**/build/
.eslintcache
**/.env
**/.env.local
**/.env.development.local

.DS_Store
Thumbs.db