DATABASE_URL=jdbc:mysql://localhost:3306/expensetracker
DATABASE_USERNAME=root
DATABASE_PASSWORD=new_password


FRONTEND_URL=http://localhost:5173


AUTH_CLIENT_ID=your-google-client-id-here

JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-minimum-32-characters-long
JWT_EXPIRATION=86400000

SPRING_PROFILES_ACTIVE=dev
